<div class="container">
    <br>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h1 class="display-4 mainTitle">Burgers!</h1>
        </div>
        <div class="col">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2>Hot and Ready:</h2>
            <br>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            <h5>{{burger_name}}</h5>
                            <button class="eat-it" data-id="{{id}}">Devour</button>
                        </li>
                        <br>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <h2>Devoured:</h2>
            <br>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        <h5>{{burger_name}}<h5></h5>
                        <p>It's gone...</p>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <br>
    <div class="addForm">
        <h2>Make Your Own!</h2>
        <form>
            <div class="form-group">
                <label for="burgerName">Enter the burger that you wish to eat.</label>
                <input type="text" class="form-control" id="burgerName" placeholder="Enter burger name">
            </div>
            <button type="submit" class="btn btn-primary addBurger">Submit</button>
        </form>
    </div>
</div>